<div class="row">
        <div class="column left">
            <h1></h1>
        </div>
        <div class="column middle">
            <div class="container">
                <h1>Sign-up:</h1>
                <form>
                    <div class="form-group">
                        <label for="user">Username</label>
                        <input type="email" class="form-control" id="user" aria-describedby="emailHelp"
                            placeholder="Enter username">
                    </div>
                    <div class="form-group">
                        <label for="pass">Password</label>
                        <input type="password" class="form-control" id="pass" placeholder="Password">
                    </div>
                    <button [routerLink]="['/home']" type="submit" class="button button-new">register</button>
                </form>
            </div>
        </div>
        <div class="column right">
            <h1></h1>
        </div>
    </div>