.create-form {
    min-width: 150px;
    width: 100%;
}

.field-full-width {
    width: 100%;
}

h1{
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    color: black;
    font-size: 18px;
}

.mat-raised-button{
    border-radius:40px;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}