.edit-form {
    min-width: 150px;
    width: 100%;
}

.field-full-width {
    width: 100%;
}

.mat-raised-button{
    border-radius:40px;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}