<div>
    <br>
    <mat-card>
      <section class="mat-typography">
          <h3>Update Task</h3>
      </section>
      <mat-divider></mat-divider>
      <br>
      <form [formGroup]="updateForm" class="edit-form">
        <mat-form-field class="field-full-width">
          <input placeholder="name" matInput formControlName="name" #name>
        </mat-form-field>
        <mat-form-field class="field-full-width">
          <input placeholder="due_date" matInput formControlName="due_date" #due_date>
        </mat-form-field>
        <mat-form-field  class="field-full-width">
            <mat-select placeholder="priority" formControlName="priority" #priority>
              <mat-option value="Low">Low</mat-option>
              <mat-option value="Medium">Medium</mat-option>
              <mat-option value="High">High</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="field-full-width">
            <mat-select placeholder="status" formControlName="status" #status>
              <mat-option value="pending">pending</mat-option>
              <mat-option value="ongoing">ongoing</mat-option>
              <mat-option value="complete">complete</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-divider></mat-divider>
        <br><br>
        <button mat-raised-button color="accent" routerLink="/list">Back</button>&nbsp;
        <button type="submit" (click)="updateTask(name.value, due_date.value, status.value, priority.value)" [disabled]="updateForm.pristine || updateForm.invalid" mat-raised-button color="primary">Save</button>
      </form>
    </mat-card>
</div>