

<div class="row-top">
    <!-- <button class ="button button-new" (click)="ClickButton()">+ new task</button> -->
    <button class="button button-new">+ new task</button>
</div>

<div class="row">
    <div class="column left">
        <div class="container">
            <h1>tasks</h1>
            <ul class="list-group">
                <li class="list-group-item">task 1</li>
                <li class="list-group-item list-group-item-primary">task 2</li>
            </ul>
        </div>
    </div>
    <div class="column middle">
        <div class="container">
            <h1>important things</h1>
            <div class="important">
                Task 1<br>
                Task 4<br>
                Task 5
            </div>
        </div>
    </div>
    <div class="column right">
        <div class="container">
            <h1>notes</h1>
            <div class="notes">
                Note 1<br>
                Note 2<br>
            </div>
        </div>
    </div>
</div>